doctype html
html
  head
    title Sambya Aryasa
    meta(charset="utf-8")
    meta(name="description", content="Sambya Aryasa")
    meta(name="keywords", content="Sambya Aryasa")
    link(rel="icon", href="assets/favicon.ico?v=1", type="image/x-icon")
    link(rel="stylesheet", type="text/css", href="styles.css")
  body
    h1 Hello World !
